@import '../reset.css';
.layout_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 20px auto 20px auto 20px auto 20px auto;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
      grid-template-areas: "card1" "card2" "card3" "card4" "card5";
}
@media (min-width: 460px) {
  .layout_grid {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[3];
    grid-template-rows: repeat(3, auto);
        grid-template-areas: "card1 card2" "card3 card4" "card5 card5";
  }
}
@media (min-width: 680px) {
  .layout_grid {
    -ms-grid-columns: 2fr 1fr 1fr 2fr;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
        grid-template-areas: "card1 card2 card2 card3" "card4 card4 card5 card5";
  }
}
@media (min-width: 900px) {
  .layout_grid {
    -ms-grid-columns: (auto)[4];
    grid-template-columns: repeat(4, auto);
    -ms-grid-rows: (auto)[2];
    grid-template-rows: repeat(2, auto);
        grid-template-areas: "card1 card2 card3 card4" "card5 card5 card5 card5";
  }
}
@media (min-width: 1120px) {
  .layout_grid {
    -ms-grid-columns: (auto)[5];
    grid-template-columns: repeat(5, auto);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
        grid-template-areas: "card1 card2 card3 card4 card5";
  }
}
.layout_grid .card_1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}
.layout_grid .card_2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card2;
}
.layout_grid .card_3 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: card3;
}
.layout_grid .card_4 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: card4;
}
.layout_grid .card_5 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: card5;
}
@media (min-width: 460px){
  .layout_grid .card_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout_grid .card_2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .layout_grid .card_3 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .layout_grid .card_4 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .layout_grid .card_5 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}
@media (min-width: 680px){
  .layout_grid .card_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout_grid .card_2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .layout_grid .card_3 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .layout_grid .card_4 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .layout_grid .card_5 {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }
}
@media (min-width: 900px){
  .layout_grid .card_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout_grid .card_2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .layout_grid .card_3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .layout_grid .card_4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
  .layout_grid .card_5 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
  }
}
@media (min-width: 1120px){
  .layout_grid .card_1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .layout_grid .card_2 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
  .layout_grid .card_3 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .layout_grid .card_4 {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
  }
  .layout_grid .card_5 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
  }
}

.layout_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.layout_flex .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.heading {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card {
  border-radius: 8px;
  background-color: #f0f0f0;
  padding: 20px;
  min-width: 200px;
}

.card__title {
  margin-bottom: 20px;
  font-weight: bold;
}

.card__text {
  font-size: 14px;
}