@import '../reset.css';
.wrapper {
  font-family: "Prata", serif;
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
}
@media (min-width: 920px) {
  .wrapper {
    width: 80%;
  }
}

.heading {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: black;
  margin: 30px 0;
}

.text {
  color: #bab0af;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 670px) {
  .text {
    width: 80%;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
  gap: 30px;
}
@media (min-width: 670px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0px;
  }
}

.content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (min-width: 670px) {
  .content__block {
    gap: 30px;
  }
}

.content__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.content__image div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid #ded4d3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

@media (min-width: 670px) {
  .content__image:before, .content__image:after {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 1px;
    background-color: #ded4d3;
  }
}

.content__block:first-of-type .content__image:before {
  background-color: transparent;
}

.content__block:last-of-type .content__image:after {
  background-color: transparent;
}

.content__heading {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.3rem;
  padding: 0 20px;
  text-align: center;
}

.content__text {
  text-align: center;
  padding: 0 20px;
}